@model Entityframeworkcore.District

@{
    ViewData["Title"] = "CreateDistrict";
}

<h1>CreateDistrict</h1>

<h4>District</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDistrict">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="DistrictName" class="control-label"></label>
                <input asp-for="DistrictName" class="form-control" />
                <span asp-validation-for="DistrictName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

   
    $('form').on('submit', function () {
        
        var DistrictNameLength = $('#DistrictName').val().length;
        if (DistrictNameLength > 20) {
            alert("district name cannot be more then 20 letter");
            return false;
        }});

</script>
@* //$('h1').on('mouseover', function () {
 //       $(this).css('color', 'red');
 //   });

 //   $('#DistrictName').on('keyup',function(){
 //       alert($('#DistrictName').val());
 //   });
   
       
    
 //   $('h1').on('click', function () {
 //       $(this).html('');
 //   });
   *@

